body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255,255,153);
}

h1{
  text-align: center;
}


p{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button{
  border-radius: 25%;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
}

.recent-content {
  text-align: left;
  background-color: rgb(225,225,204);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  overflow: scroll;
  height: 500px;
}

.delete-content {
  text-align: left;
  background-color: rgb(225,225,204);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
}

.new-content {
  text-align: left;
  background-color: rgb(225,225,204);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
}

.post{ 
  background-color: rgb(255,204,153);
  padding: 5px;
  margin: 25px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.post-content{ 
  text-align: left;
  background-color: rgb(255,255,255);
  border-color: black;
  padding: 5px;
  margin: 25px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

