body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255,255,153);
}

a {
  color: #00B7FF;
}

p{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

content{
  background-color: rgb(255,255,153);
}

button{
  border-radius: 25%;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
}
.content {
  text-align: left;
  background-color: rgb(225,225,204);
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
}

.post{ 
  background-color: rgb(255,204,153);
  padding: 5px;
  margin: 25px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.post-content{ 
  text-align: left;
  background-color: rgb(255,255,255);
  border-color: black;
  padding: 5px;
  margin: 25px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

